$-primary: #03050f;
$-white: #fff;
$-bg-primary: #f8f9ff;
$-blue-berry: #4f4fff;
$-neutral-100: #edeffc;
$-neutral-300: #7981b2;
$-neutral-400: #a9afd9;
$-neutral-500: #d7dbf5;
$-neutral-600: #141938;
$-red: #ff1c44;
$-green: #7df0ba;
