.ly {
  &-public {
    background-image: url("../../assets/images/bg-blur-pink.webp"),
      url("../../assets/images/blur-green.webp");
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    @media (max-width: 900px) {
      background-position: 0% 200%, 100% -220%;
    }
  }
}
