@mixin color($name, $color-primary, $color-secondary: null) {
  .bg-c-#{$name} {
    background-color: $color-primary !important;
    @if $color-secondary != null {
      color: $color-secondary;
      &:hover {
        background-color: $color-secondary !important;
        color: $color-primary !important;
      }
    }
  }
  .text-c-#{$name} {
    color: $color-primary !important;
  }
  .border-c-#{$name} {
    border-color: $color-primary !important;
  }
}
